* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(250, 226, 234);
    color: white;
    font-size: 1.3rem;
    text-align: center;
    height: 100vh;
}
button, input{
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 1.2rem;
    border-radius: 12px;
    height: 30px;
    padding-left: 6px;
    text-align: center;
}
h1, h2, span{
   font-size: 2rem; 
   font-weight: bold;
    justify-content: center;
    text-align: center;
    align-items: center;
}
button:hover{
    background-color: whitesmoke;
    transition: 1s;
    background: transparent;
    box-shadow:  0 0 20px 5px white;
}
button::before{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -o-linear-gradient(120deg, transparent, #00fffc, transparent);
    transform: translateX(-100%);
    transition: 0.6s;
    position: absolute;
}
button{
    background-color: white;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    border-radius: 20px;
    width: 120px;
    height: 30px;
    padding-left: 2px;
    border-radius: 25px;
}
.box{
    width: 50vw;
    height: auto;
    border-radius: 40px;
    padding: 20px 0px;
    background: rgba(99, 98, 98, 0.21);
    box-shadow: 0 4px 50px rgba(59, 100, 21, 0.1);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: rgb(255, 255, 255) 2px outset;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}
.container{
    width: 27vw;
    float:left;
}
small{
    font-size: 0.9rem;
}
.resbox{
    justify-content: justify;
    align-items: justify;
    text-align: justify;
    margin-top: 18px;
    padding-left: 20px;
    padding-right: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    color: #333;
    font-size: 1rem;
    min-height: 24px;
}